<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <!-- <div class="about-title is-4 has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen"> -->
                    <div class="about-title has-text-weight-bold">
                        PhD candidate and Deep Learning researcher
                    </div>
                    <div class="about-subtitle">
                        Universidad Carlos III de Madrid
                    </div>
                    <div class="about-text">
                        Development of real-time Deep Learning Computer Vision systems for autonomous vehicles.

                    </div>
                    <br>

                    <div class="about-title has-text-weight-bold">
                        Mentor and Community Advocate
                    </div>
                    <div class="about-subtitle">
                        DeepLearning.AI
                    </div>
                    <div class="about-text">
                        Andrew Ng's Deeplearning.AI Mentor for the Tensorflow Developer Professional Certificate Specialization, providing support for the community
                    </div>
                    <br>
                    <br>

                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#work"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Publications</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/news"news
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">News</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>