<section class="hero is-fullheight has-text-centered" id="work">
    <div class="hero-body">
        <div class="container">
            <div class="column">
                <div class="contact-year has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    2023
                </div>
                <div class="about-title has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <a class="about-title is-marginless"
                        href="https://doi.org/10.1007/978-3-031-21065-5_29" target="_blank" >
                        Deep Learning for robust vehicle identification
                    </a>
                </div>
                <div class="about-subtitle has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Robot 2022: Fifth Iberian Robotics Conference (pp. 346-358). Springer, Cham
                </div>
                <div class="about-text has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Ramajo-Ballester, Á., González-Cepeda, J., Armingol, J. M. (2023)
                </div>
                <br>

                <div class="contact-year has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    2022
                </div>
                <div class="about-title has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <a class="about-title is-marginless"
                        href="https://doi.org/10.3390/info13070325" target="_blank" >
                        Intelligent Video Surveillance Systems for Vehicle Identification Based on Multinet Architecture
                    </a>
                </div>
                <div class="about-subtitle has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Information, 13 (7), 325
                </div>
                <div class="about-text has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    González-Cepeda, J., Ramajo-Ballester, Á., Armingol, J. M. (2022)
                </div>
                <br>

                <div class="about-title has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Reidentificación de vehículos mediante técnicas de deep learning
                </div>
                <div class="about-subtitle has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    XLIII Jornadas de Automática (pp. 1031-1039) 
                </div>
                <div class="about-text has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Ramajo Ballester, Á., González Cepeda, J., Armingol Moreno, J. M., de la Escalera Hueso, A. (2022)
                </div>
                <br>

                <div class="about-title has-text-weight-bold has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Vehicle re-identification in road environments using deep learning techniques
                </div>
                <div class="about-subtitle has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    ITS European Congress
                </div>
                <div class="about-text has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    Ramajo Ballester, Á., González Cepeda, J., Armingol Moreno, J. M. (2022)
                </div>
                <br>

            </div>
            
            
            <br>
            <br>


            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            {% endunless %}
            <!-- {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %} -->
            <hr>
            <!-- <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3> -->
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter icon-margin"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin icon-margin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github icon-margin"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
                {% unless site.google_scholar_username ==  %}
                <a href="https://scholar.google.es/citations?hl=en&user={{site.google_scholar_username}}" target="_blank" class="has-text-black"><i class="ai ai-google-scholar icon"></i></a>
                {% endunless %}
                {% unless site.orcid_username ==  %}
                <a href="https://orcid.org/{{site.orcid_username}}" target="_blank" class="has-text-black"><i class="fab fa-orcid icon-margin"></i></a>
                {% endunless %}
                {% unless site.publons_username ==  %}
                <a href="https://publons.com/researcher/{{site.publons_username}}" target="_blank" class="has-text-black"><i class="ai ai-publons icon"></i></a>
                {% endunless %}
                {% unless site.scopus_username ==  %}
                <a href="https://www.scopus.com/authid/detail.uri?authorId={{site.scopus_username}}" target="_blank" class="has-text-black"><i class="ai ai-scopus icon"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
